[submodule "tools/vendor/Paramdex"]
	path = tools/vendor/Paramdex
	url = https://github.com/SamaelTheKingOfHell/Paramdex.git
[submodule "tools/vendor/SoulsFormatsNEXT"]
	path = tools/vendor/SoulsFormatsNEXT
	url = https://github.com/SamaelTheKingOfHell/SoulsFormatsNEXT.git
